In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')

In [3]:
data = data.iloc[:, 2:]

In [4]:
data.sample(5)

     Age  EstimatedSalary  Purchased
357   41            72000          0
286   37            62000          0
188   35            72000          0
176   35            47000          0
235   46            79000          1

# Train Test Split

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data.drop('Purchased', asix = 1),
                                                    data['Purchased'],
                                                    test_size = 0.3,
                                                    random_state = 0)
X_train.shape, X_test.shape

TypeError: DataFrame.drop() got an unexpected keyword argument 'asix'